.body{
   background-color: white ;
   height: 100vh;
}

.hhh{
    background-color: #FAF4ED !important;
    color: #717680 !important;
}

/* [data-accordion="collapse"] [aria-expanded="true"] + .hidden,
[data-accordion="collapse"] [aria-expanded="true"] + div {
  background-color: #fff !important;
} */

/* Override Flowbite accordion button background when expanded */
[data-accordion-target][aria-expanded="true"],
[data-accordion-target][aria-expanded="true"]:hover {
  background-color: #fff !important; /* or your desired color */
}

/* For dark mode */
.dark [data-accordion-target][aria-expanded="true"],
.dark [data-accordion-target][aria-expanded="true"]:hover {
  background-color: #fff !important; /* or your desired dark mode color */
}