.signup-wrapper {
  display: flex;  
  align-items: center;  
  justify-content: space-between;
  background-color: #FAF4ED;
  background-image: url("../../public/Pattern.png");
  background-attachment: fixed;
  background-size: contain;
  height: 100vh;
}

.signup-container { 
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #F5F5F5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-left: 200px;  /* Space around the form */
  padding: 20px;
}

.signup-image img {
  /* background-color: aqua; */
  max-width: 1000px;  /* Adjust image width */
  height: auto;  /* Maintain aspect ratio */
  border-radius: 10px;  /* Optional: add rounded corners */

}

.input-group {
  color: grey;
  margin-bottom: 20px;
}

.input-group label {
  color: black;
  display: block;
  margin-left: 40px;;
  margin-bottom: 5px;
}

.signup-container h2 {
  color: #6D4C2F;
  padding: 20px 0 10px;
  font-size: x-large;
  margin-left: 35px;
}

.signup-container small {
  color: grey;
  margin-left: 45px;
  padding: 10px 0px 10px;
}

.signup-container .slogan{
  /* background-color: aqua; */
  color: grey;
  padding: 5px 0px 5px 40px;
}

.input-group input {
  display: block;
  width: 83%;
  padding: 8px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  padding: 8px;
  width: 83%; 
  margin: 0 auto;
  background-color: #7D5B3A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.5s;
}

button:hover {
  background-color: #6d4c2f;
  transform: scale(1.08);
}

.social-buttons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 0 50px;
}

.social-buttons button {
  flex: 1;
  padding: 10px;
  color: white;
  cursor:pointer;
}

.text-with-lines {
  display: flex;
  align-items: center;
  color: grey;
  margin: 10px 45px 10px;
}

.text-with-lines::before,
.text-with-lines::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #ccc;
  margin: 10px
  
}

.alternate-login p{
    color: grey;
    text-align: center;
    margin-top: 20px;
    margin-right: 0px;
    
}

.alternate-login p .link{
    color:#6D4C2F;
    text-decoration: none;
    transition: 0.5s;
}

.alternate-login p .link:hover{    
    color: #6d4c2f;    

}

.form-scroll {
  max-height: 207px;   /* fixed height for scroll area */
  overflow-y: auto;    /* enables vertical scrollbar */
  margin: 1em 0;
}
